html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: rgb(43, 54, 72);
  width: 100%;
  height: 100%;
}


@media only screen and (max-width:600px){

  .navbar-logo{
     display:none
  }
}

.graphs{
  height:100vh;

  display:flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  color:#4f6382
}

.graphs div{
  margin:0 80px;

}
